.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
border-top: 2px solid blue;
border-bottom: 2px solid;
}

#menu li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

#menu ul {
	margin: 0px;
}

#features li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

#features ul {
	margin: 0px;
}

.feature_title {
	color: white;
	font-size: 20px;
	font-weight: 200;
}

#features .unit {
	color: white;
}

